.item{
    display:inline-block;
    width:200px;
    padding: 10px;
    margin: 10px;
    background-color: #5681c2;
    border-radius: 10px;

    text-align: center;
}

.img{
    display: block;
    width: 100%;
}

label{
    display: block;
    width: 100px;
    border: #760000 1px solid;
    background-color: darkred;
    padding: 2px;
    text-align: center;
    color: aliceblue;
    border-radius: 3px;
    cursor: pointer;
}

input[type=checkbox]:checked ~.item{
    display:block;
}
input[type=checkbox]:checked ~.item .img{
    display: none;
}
input[type=checkbox]:checked + label{
    background-color: #115000;
    border: #083901 1px solid;
}

input[type=checkbox]:checked + label{
    background-color: #115000;
    border: #083901 1px solid;
}
.item_href{
    display:inline-block;
    font-weight: bold;
    font-size: 20px;
    color: aliceblue;
    cursor: pointer;
    margin: 10px
}
input[type=checkbox]:checked ~.item .item_href{
    margin: 1px;
}
.item_href::after, .item_href::before{
    padding-left: 20px;
    padding-right: 20px;
    color: aliceblue;
    opacity: 0;
    transition: all .5s ease;
    display: inline-block;
}

.item_href::before{
    content: "\25C4";
}

.item_href::after{
    content: "\25BA";
}

.item:hover .item_href::before, .item:hover .item_href::after{
    opacity: 100;
 }

.item_href:hover::before{
    transform: rotate(180deg);
    padding-left: 3px;
}

.item_href:hover::after{
    transform: rotate(-180deg);
    padding-right: 3px;
}