.item{
    padding: 20px;
    background-color: #5681c2;
    border-radius: 20px;
    width: min-content;
    text-align: center;
}

.img{
    margin-bottom: 20px;
}

.item_href{
    font-weight: bold;
    font-size: 30px;
    color: aliceblue;
}

.item_href::after, .item_href::before{
    padding-left: 20px;
    padding-right: 20px;
    color: aliceblue;
    opacity: 0;
    transition: all 1s ease;
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox 4 */
    -o-transition: all 1s ease; /* Opera */
}

.item_href::before{
    content: "\25C4";
}

.item_href::after{
    content: "\25BA";
}

.item:hover > .item_href::before, .item:hover > .item_href::after{
    opacity: 100;
 }

.item_href:hover::before{
    display: inline-block;
    transform: rotate(180deg);
}

.item_href:hover::after{;
    display: inline-block;
    transform: rotate(-180deg);
}